{{if hasPrefix "identity." .EventType -}}
================================================================
{{ with .Summary -}}
RequestID                         : {{ red .RequestID }}
GlobalRequestID                   : {{ red .GlobalRequestID }}
Type                              : {{ red .EventType }}
----------------------------------------------------------------
User ID                           : {{ green .UserID }}
User Name                         : {{ green .UserName }}
Project ID                        : {{ green .ProjectID }}
Project Name                      : {{ green .ProjectName }}
{{- end -}}
{{ with .Payload -}}
TypeURI   : {{ blue .TypeURI }}
EventType : {{ blue .EventType }}
ID        : {{ blue .ID }}
EventTime : {{ blue .EventTime }}
Action    : {{ blue .Action }}
Outcome   : {{ blue .Outcome }}
Observer  : {{ blue .Observer }}
ResourceInfo        : {{ blue .ResourceInfo }}
Role                : {{ blue .Role }}
Project             : {{ blue .Project }}
User                : {{ blue .User }}
InheritedToProjects : {{ blue .InheritedToProjects }}
Group               : {{ blue .Group }}
Reason              : {{ blue .Reason }}
  Code : {{ .Reason.ReasonCode }} 
  Type : {{ .Reason.ReasonType }}
{{ end }}
{{- end -}}
